.main{
    padding: 75px 0px;
    /* color: white; */
    height: 100vh;
}

.form-box{
    /* background-color: rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(30px);
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    box-shadow: 1px 1px 10px white;
}

.form-box input{
    border-radius: 10px;
    font-size: 15px;
}

.form-box input:focus{
    box-shadow: 0 0 0;
    border: 1px solid #D8693B ;
}

.form-box select{
    border-radius: 10px;
    font-size: 15px;
}

.form-box select:focus{
    box-shadow: 0 0 0;
    border: 1px solid #D8693B;
}

.register-btn{
    background: rgb(216,105,59);
    background: linear-gradient(90deg, rgba(216,105,59,1) 0%, rgba(255,181,150,1) 100%);
    color: black;
    border: none;
    border-radius: 10px;
}

.link{
    text-decoration: none;
    color: #D8693B;
}

.link:hover{
    color: #ad552f;
}

.text h1{
    font-size: 60px;
}

.LowText{
    padding-left: 10px ;   
}

form h2{
    color: rgba(255,181,150,1);
}